{% extends 'reddit/base.html' %}
    {% block head %}
        <style>
            @media(min-width: 375px){
                .jumbotron{
                    margin-top: 30px !important;
                    margin-bottom: 35px !important;
                }
                .date, .comment{
                    font-size: 0.7em;
                }
                .text{
                    font-size: 1em !important;
                }
                .comment{
                    margin-left: 0px;
                }
                .add{
                    font-size: 0.8em !important;
                }
                .post-list{
                    margin-bottom: -55px;
                    margin-top: 45px;
                }
            }
            @media(min-width: 320px){
                .post-list{
                    margin-top: 30px;
                    margin-bottom: -65px;
                }
                .jumbotron{
                    margin-bottom: 30px !important;
                }
                .date, .comment{
                    font-size: 0.6em;
                }
                h2{
                    font-size: 1.3em !important;
                }
                .text{
                    font-size: 0.9em !important;
                }
                .comment{
                    margin-left: 0px;
                }
                .add{
                    font-size: 0.6em !important;
                }
            }
            @media(min-width: 425px){
                h2{
                    font-size: 1.6em !important;
                }
                .date, .comment{
                    font-size: 0.8em;
                }
                .text{
                    font-size: 1em !important;
                }
                .add{
                    font-size: 0.8em !important;
                }
            }
            @media(min-width: 1440px){
                h2{
                    font-size: 1.9em !important;
                }
                .date, .comment{
                    font-size: 0.9em;
                }
                .text{
                    font-size: 1.2em !important;
                }
                .add{
                    font-size: 1em !important;
                }
            }
        </style>
    {% endblock %}
    {% block content %}
    <div class="post-list">
        {% for post in posts %}
        <div class="container">
            <div class="jumbotron" style="margin-top: 5%;margin-bottom: -1%;padding-top: 15px !important; padding-bottom: 5px !important; border-radius: 12px !important; border: 1px solid grey; width:100%">
                <h2>
                    <a href="{% url 'post_detail' pk=post.pk %}" style="font-weight: 545;color: #000000;">{{ post.title }}</a>
                </h2>
                <div class="date">
                    <p style="font-size: 0.9em !important;">{{ post.date_created }}
                    {% include "reddit/subs_posted.html" with post=post %}
                    by {{ post.submitter }}</p>
                </div>
                <p class="text" style="font-size: 1.2em;">{{ post.text|linebreaksbr }}</p>

                {% if  post.comment_count > 0 %}
                    <p><a href="{% url 'post_detail' pk=post.pk %}" class="comment">{{ post.comment_count }} Comments</a></p>
                {% endif %}
                <div style="display: inline-block;">
                {% include "reddit/vote.html" with el=post %}
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <a class="btn btn-primary add" style="display: inline-block; margin-right: 10px;" href="{% url 'add_comment_to_post' pk=post.pk%}">Add comment</a>


            </div>
            </div>
        {% endfor %}
        <br><br><br>
    </div>
{% endblock %}